.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1A0B2E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Sharing style  */
.btn{
    background: linear-gradient(135deg, #F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 600;
    border: none;
}
.menu-btn{
    display: none;
}
.btn img{
    margin-right: 5px;
}
.btn-1{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    margin-left: 8px;

}
.btn-1 img{
    margin-right: 5px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 200px;
    background-color: #1A0B2E;
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 32px;

}

.navbar ul a{
   text-decoration: none; 
   font-size: 1rem;
   line-height: 120%;
   color: #FFFFFF;

}
.navbar ul li{
    list-style-type: none;
}
nav h2{
    font-weight: 700;
    color:#FFFFFF ;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 100vh;

}
.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 130px;
}
.banner-image{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.banner-image-1{
    margin-top: 150px;
    position: relative;
    width: 300px;
    z-index: 1;
}
.banner-image .image-2{
    transform: translate(-50%,);
    position: absolute;
    z-index: 2;
}
.banner-content h2{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1rem;
    opacity: 80%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* main section  */
#about, #techwave, #episode{
    padding: 50px 200px 120px 200px;
    margin: 0 auto;
}
.about-container{
    text-align: center;
}
.about-container h3{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;

}
.about-container p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 80px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
}
.about-card{
    h2{
        font-size: 3rem;
        color: #00FF88;
    }
}
.about-card p{
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
}
#techwave h2{
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 40px;
}
.techwave-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 225px) 273px;
    gap: 30px;
}
.techwave-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    color: white;
    border-radius: 40px;
}
.techwave-card h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: bold;
}
.techwave-card p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
}
.side-content{
    grid-column: span 1;
    grid-row: span 2;
}
.top-content{
    grid-column: span 2;
    grid-row: span 1;
}
.bottom-content{
    grid-column: span 2;
    grid-row: span 1;
}
.bottom-side{
    grid-column: span 1;
    grid-row: span 1;
}
.title{
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.episodes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}





/* Responsive Design  */
@media screen and (max-width:576px){
    .navbar{
        display: none;
    }
    #banner{
        max-width: 400px;
    }
    .banner-content{
        max-width: 400px;
    }
}