.inter-fonts{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #1A0B2E;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.btn{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    color:#FFFFFF;
    font-weight: 600;
    border:none;
    margin-left: 8px;
}
.btn-1{
    background-color: transparent;
    padding: 12px 16px;
    border-radius: 10000px;
    font-size: 16px;
    color: #00FF88;
    font-weight: 600;
    border: 1px solid #00FF88;
    margin-left: 8px;

}
.btn-1 img{
    margin-right: 5px;
}
.menu {
    display: none;
}
.btn:hover{
    filter: brightness(1.20);
    transition: 0.3s ease;
}
.navbar {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    padding: 20px 50px;
}
.nav-container a{
    text-decoration: none;
    color: #FFFFFF;
    line-height: 120%;
    font-size: 1rem;
    opacity: 0.7;
}
.navbar h1{
    font-size: 2.75rem;
    color: #FFFFFF;
    font-weight:700;
}
.navbar h1 span{
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
}

nav ul {
    margin-right:80%;
    display: flex;
    list-style: none;
    gap: 20px;
}
#banner{
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 80vh;
}
.top{
    color:#1A0B2E;
    padding: 8px 16px;
    border-radius: 1000px;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    transform: translateX(-100%) translateY(-300%);
    background-color: #00FF88;
}

.banner-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 130px;
}
.banner-image{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.banner-image-1{
    margin-top: 150px;
    position: relative;
    width: 300px;
    z-index: 1;
}
.banner-image .image-2{
    right: 45%;
    position: absolute;
    z-index: 2;
}
@keyframes simpleMove {
    0% {
        top: 50%;
    }
    50% {
        top: 47%;
    }
    100% {
        top: 50%;
    }
}

.banner-image .image-2 {
    position: absolute;
    right: 50%;
    top: 50%;
    transform: translate(30%, -50%);
    z-index: 2;
    animation: simpleMove 3s infinite ease-in-out;
}
.banner-content h2{
    font-size: 3.75rem;
    color: #FFFFFF;
    font-weight: 800;
    margin-bottom: 8px;
}
.banner-content p{
    font-size: 1rem;
    opacity: 80%;
    color: #FFFFFF;
    margin-bottom: 24px;
}

/* main section  */
#about, #techwave, #episode, #meet-host, .footer-section{
    padding: 0px 200px 120px 200px;
    margin: 0 auto;
}
.about-container{
    text-align: center;
}
.about-container h3{
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 20px;

}
.about-container p{
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
    margin-bottom: 80px;
}
.about-content{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
}
.about-card{
    h2{
        font-size: 3rem;
        color: #00FF88;
    }
}
.about-card p{
    text-transform: uppercase;
    font-size: 1rem;
    color: #FFFFFF;
    line-height: 20px;
}
#techwave h2{
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 40px;
}
.techwave-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2, 225px) 273px;
    gap: 30px;
}
.techwave-card{
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
    color: white;
    border-radius: 40px;
}
.techwave-card h3{
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-bottom: 16px;
    font-weight: bold;
}
.techwave-card p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
}
.side-content{
    grid-column: span 1;
    grid-row: span 2;
}
.top-content{
    grid-column: span 2;
    grid-row: span 1;
}
.bottom-content{
    grid-column: span 2;
    grid-row: span 1;
}
.bottom-side{
    grid-column: span 1;
    grid-row: span 1;
}
.title{
    text-align: center;
    font-size: 3rem;
    color: #FFFFFF;
    margin-bottom: 40px;
}
.episodes-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.episodes-card{
    max-width: 400px;
    width: 90%;
    margin: 0 auto;
    border-radius: 20px;
    background-color: #250D44;
}
.episodes-card iframe{
    border-radius: 20px 20px 0 0;
}
.episodes-card h2{
    font-size: 1.5rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-bottom: 12px;

}
.episodes-card p{
    font-size: 1rem;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 12px;
}
.green-image p{
    display: inline-flex;
    color: #00FF88;
    gap:10px;

}
#meet-host h2{
    text-align: center;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 40px;

}
.host{
    display: flex;
    justify-content: space-between;
    gap: 24px;
    background-color: rgba(53, 17, 101, 0.4);
    padding: 40px;
}
.host-content h3{
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.host-content p{
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 16px;
}
.host-icon{
    display: flex;
    gap: 20px;
}
/* Footer  */

footer {
    background-image: url('./assets/footer-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px 0px;
    display: flex;
    justify-content: center;
    color: #FFFFFF;
}

.footer-container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.footer-title {
    color: #FFFFFF;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 40px;
}

.footer-title span {
    background: linear-gradient(#F7E93F 0%, #FB09B4 51%, #9100F8 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color:transparent
}
.footer-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 744px;
    margin-bottom: 32px;
}

.link-item {
    color: #FFFFFF;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 16px;
}
.link-item img{
    margin-right: 5px;
}

.copyright-text {
    font-size: 16px;
    opacity: 0.7;
}
    /* Responsive   */
@media screen and (max-width: 576px) {
    
    nav {
        display: none; 

    }
    .menu {
        display: block; 
    }
    .navbar{
        padding: 30px 0px;
    }
    .btn{
        margin-bottom: 10px;
    }
    #banner{
        min-height: auto;
    }
    .banner-image .image-1{
        transform: translateX(13%);
    }
    .top{
        transform:translateX(-15%) translateY(-100%);
        font-size: 0.9rem;
    }
    .banner-image .image-1 {
        width: 200px; 
    }
    .banner-content h2{
        font-size: 2.5rem;
    }
    .banner-content p{
        padding: 0 20px;
    }

    .banner-image .image-2 {
        width: 60px;
    }

    #about{
        padding: 10px;
    }
    .about-content{
        grid-template-columns: repeat(2,1fr);
        gap: 40px;
        padding: 10px;
    }
    .about-container h3{
        font-size: 2rem;
    }

    #techwave{
        padding: 10px;
    }
    .techwave-container{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    #techwave h2{
        font-size: 2.5rem;
        padding: 10px;
    }
    #episode{
        padding: 10px;
    }
    .episodes-container {
    grid-template-columns: 1fr;
    width: 100%;
    }
    .title{
        font-size: 3rem;
    }

    #meet-host{
        padding: 10px;
    }
    .host{
        flex-direction:column;
    }
    .footer-links {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-title {
        font-size: 3rem;
    }
    .copyright-text{
        padding: 10px;
    }
}

